@page "/Persona"
@page "/Persona/{PersonaId:int}"
@inject PersonasBLL personasBLL
@inject NotificationService notificationService


<EditForm Model="personas" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="card">
        <div class="card-header">
            <h3>Registro Personas </h3> 
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

        </div>
        <div class="card-body">

            @*PersonaId*@
            <div class="form-row align-items-center">
                <div class="col">
                    <div class="form-group">
                        <label>PersonaId</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="personas.PersonaId" class="form-control col-4" />
                            <div class="input-group-append">
                                <div class="input-group-append">
                                    <button type="button" class="bi bi-search btn btn-primary input-group-text"
                                        @onclick="Buscar">Buscar</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Nombre*@
                <div class="form-group">
                    <label>Nombre</label>
                    <InputText @bind-Value="personas.Nombre" class="form-control" />
                    <ValidationMessage For="@(() => personas.Nombre)" />
                </div>

                @*Telefono*@
                <div class="form-group">
                    <label>Telefono</label>
                    <InputNumber @bind-Value="personas.Telefono" class="form-control" />
                    <ValidationMessage For="@(() => personas.Telefono)" />
                </div>

                @*Celular*@
                <div class="form-group">
                    <label>Celular</label>
                    <InputNumber @bind-Value="personas.Celular" class="form-control" />
                    <ValidationMessage For="@(() => personas.Celular)" />
                </div>
                @*Email*@
                <div class="form-group">
                    <label>Email</label>
                    <InputText @bind-Value="personas.Email" class="form-control" />
                    <ValidationMessage For="@(() => personas.Email)" />
                </div>

                @*Direccion*@
                <div class="form-group">
                    <label>Direccion</label>
                    <InputText @bind-Value="personas.Direccion" class="form-control" />
                    <ValidationMessage For="@(() => personas.Direccion)" />
                </div>

                @*FechaNacimiento*@
                <div class="input-group">
                    <span class="input-group-text">Fecha</span>
                    <input type="date" @bind-value="personas.FechaNacimiento" />
                </div>
                <ValidationMessage For="@(() => personas.FechaNacimiento)" />

                

                @*OcupacionID*@
                <div class="form-row align-items-center">

                    <label>Ocupacion</label>
                    <InputSelect class="form-select text-14" @bind-Value="personas.OcupacionId">
                        <option value="null"> </option>
                        @foreach (Ocupaciones ocupacion in lista)
                        {

                                <option value="@ocupacion.OcupacionId">@ocupacion.Descripcion</option>

                        }
                    </InputSelect>
                    <ValidationMessage For="@(() =>personas.OcupacionId)" />
                </div>

            </div> 
            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>
                    <button type="button" class="bi bi-file-earmark-plus btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                    <button type="submit" class="bi bi-save btn btn-lg btn-success">Guardar</button>
                    <button type="submit" class="bi bi-pencil btn btn-lg btn-success">Editar</button>
                    <button type="button" class="bi bi trash3 btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public int PersonaId { get; set; }
    public Ocupaciones ocupacion { get; set; } = new Ocupaciones();
    public Personas personas { get; set; } = new Personas();

    public List<Ocupaciones> lista = new List<Ocupaciones>();
    public int OcupacionId { get; set; }


    public string Filtro { get; set; } = "";
    public string Criterio { get; set; } = "";


    protected override void OnInitialized()
    {
        if (PersonaId > 0)
        {
            this.personas.PersonaId = PersonaId;
            this.Buscar();

        }
        lista = personasBLL.GetOcupaciones(c => true);
    }

    public void Nuevo()
    {
        personas = new Personas();
    }

    bool ValidarNombre()
    {
        return personas.Nombre.Contains(".");
    }

    bool ValidarEmail()
    {
        return personas.Email.Contains(".Com");
    }

    public void Guardar()
    {

        bool guardo = personasBLL.Guardar1(personas);

        if (guardo)
        {
            ShowNotification(
           new NotificationMessage
               {

                   Severity = NotificationSeverity.Success,
                   Summary = "Se guardo Correcto"


               });

            Nuevo();
        }
    }
    private void Buscar()
    {
        if (personas.PersonaId > 0 || ocupacion.OcupacionId > 0)
        {
            var encontrado = personasBLL.Buscar1(personas.PersonaId);

            if (encontrado != null)
                this.personas = encontrado;
        }
    }

    public void Eliminar()
    {
        bool elimino;

        elimino = personasBLL.Eliminar1(personas);

        if (elimino)
        {

            ShowNotification(
            new NotificationMessage
                {

                    Severity = NotificationSeverity.Success,
                    Summary = "Se elimino Correcto"


                });
            Nuevo();


        }
    }
    void ShowNotification(NotificationMessage message)
    {

        notificationService.Notify(message);
    }
    public void Editar()
    {

        var editar = personasBLL.Editar(personas);

    }

}